{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json" />
<link href="/assets/css/output.css" rel="stylesheet" />
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

{% if data_points.len() > 0 %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/theme/dark.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<main>
  <nav class="flex border-b border-gray-700" aria-label="Breadcrumb">
    <ol role="list" class="mx-auto flex w-full max-w-screen-xl space-x-4 px-4 sm:px-6 lg:px-8">
      <li class="flex">
        <div class="flex items-center">
          <a href="/app/menu" class="text-white hover:text-gray-500">
            <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Home</span>
          </a>
        </div>
      </li>
      <li class="flex">
        <div class="flex items-center">
          <svg class="h-full w-6 flex-shrink-0 text-gray-800" viewBox="0 0 24 44" preserveAspectRatio="none"
            fill="currentColor" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
          </svg>
          <a href="/app/metrics" class="ml-4 text-sm font-medium text-white hover:text-gray-500">
            <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75ZM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 0 1-1.875-1.875V8.625ZM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 0 1 3 19.875v-6.75Z" />
            </svg>
            <span class="sr-only">Metrics</span>
          </a>
        </div>
      </li>
      <li class="flex">
        <div class="flex items-center">
          <svg class="h-full w-6 flex-shrink-0 text-gray-800" viewBox="0 0 24 44" preserveAspectRatio="none"
            fill="currentColor" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
          </svg>
          <span href="#" class="ml-4 text-sm font-medium text-white" aria-current="page">
            {{ name }}
          </span>
        </div>
      </li>
    </ol>
  </nav>

  <div class="mx-auto max-w-lg">
    <div class="bg-gray-900">
      <div class="my-4 px-4 sm:mt-0 sm:mb-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-px bg-white/5">
          {% match metric_type %}
          {% when metrics::MetricType::Overtime %}
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Over Time (Last Week)</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time_until_last_week }}</span>
            </p>
          </div>
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Over Time</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time }}</span>
            </p>
          </div>
          {% when metrics::MetricType::Sum %}
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Total Time (Last Week)</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time_until_last_week }}</span>
            </p>
          </div>
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Total Time</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time }}</span>
            </p>
          </div>
          {% when metrics::MetricType::Count %}
          {% endmatch %}
        </div>
        {% if data_points.len() > 0 %}
        <div id="chart-container" class="mt-8 h-80"></div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
{% if data_points.len() > 0 %}
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('chart-container'), 'dark');
  var option;

  option = {
    grid: {
      bottom: 90,
    },
    backgroundColor: 'rgba(0, 0, 0, 0)',
    xAxis: {
      name: 'Week',
      type: 'category',
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        rotate: 30,
      },
    },
    yAxis: {
      name: 'Hours',
      type: 'value',
      min: function (value) {
        return value.min - 2;
      },
      max: function (value) {
        return value.max + 2;
      }
    },
    series: [
      {
        data: [
          {% for dp in data_points %}
      ['{{dp.date}}', {{Self:: as_f64(dp.duration.num_minutes()) / 60.0_f64}}],
  {% endfor %}
        ],
  type: 'line'
      }
    ],
  toolbox: {
    right: 10,
      feature: {
      dataZoom: {
        yAxisIndex: 'none'
      },
      restore: { },
      saveAsImage: { }
    }
  },
  dataZoom: [
    {
        {% if data_points.len() < 5 %}
  startValue: '{{ data_points[0].date }}',
    {% else %}
  startValue: '{{ data_points[data_points.len()-5].date }}',
    {% endif %}
      },
  {
    type: 'inside',
      }
    ]
  };

  option && myChart.setOption(option);
</script>
{% endif %}
{% endblock %}
