{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json" />
<link href="/assets/css/output.css" rel="stylesheet" />
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/theme/dark.js"></script>
{% endblock %}

{% block content %}
<main>
  <div class="mx-auto max-w-lg">
    <div class="bg-gray-900 py-10">
      <div class="my-8 px-4 sm:mt-0 sm:mb-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-px bg-white/5">
          {% match metric_type %}
          {% when metrics::MetricType::Overtime %}
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Over Time (Last Week)</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time_until_last_week }}</span>
            </p>
          </div>
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Over Time</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time }}</span>
            </p>
          </div>
          {% when metrics::MetricType::Sum %}
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Total Time (Last Week)</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time_until_last_week }}</span>
            </p>
          </div>
          <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Total Time</p>
            <p class="mt-2 flex items-baseline gap-x-2">
              <span class="text-4xl font-semibold tracking-tight text-white">{{ total_time }}</span>
            </p>
          </div>
          {% when metrics::MetricType::Count %}
          {% endmatch %}
        </div>
        <div id="chart-container" class="mt-8 h-80">

        </div>
      </div>
      <div class="fixed bottom-0 left-0 right-0 bg-gray-900">
        <div class="hidden mx-auto max-w-lg" id="menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="/app"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
              aria-current="page">Activities</a>
            <a href="/app/metrics"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
              aria-current="page">Metrics</a>
          </div>
        </div>
        <div class="flex h-12 mx-auto max-w-lg items-center justify-between px-2">
          <button _="
              on click
                toggle .hidden on #menu
                toggle .hidden on #menu-icon
                toggle .hidden on #close-icon
            " class="rounded-md px-2.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-white/20">
            <svg id="menu-icon" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor"
              class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg id="close-icon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('chart-container'), 'dark');
  var option;

  option = {
    grid: {
      bottom: 90,
    },
    backgroundColor: 'rgba(0, 0, 0, 0)',
    xAxis: {
      name: 'Week',
      type: 'category',
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        rotate: 30,
      },
    },
    yAxis: {
      name: 'Hours',
      type: 'value',
      min: function (value) {
        return value.min - 2;
      },
      max: function (value) {
        return value.max + 2;
      }
    },
    series: [
      {
        data: [ 
          {% for dp in data_points %}
            ['{{dp.date}}', {{dp.duration.num_minutes() / 60}}],
          {% endfor %}
        ],
        type: 'line'
      }
    ],
    toolbox: {
      right: 10,
      feature: {
        dataZoom: {
          yAxisIndex: 'none'
        },
        restore: {},
        saveAsImage: {}
      }
    },
    dataZoom: [
      {
        {% if data_points.len() > 0 %}
          {% if data_points.len() < 5 %}
          startValue: '{{ data_points[0].date }}',
          {% else %}
          startValue: '{{ data_points[data_points.len()-5].date }}',
          {% endif %}
        {% endif %}
      },
      {
        type: 'inside',
      }
    ]
  };

  option && myChart.setOption(option);
</script>
{% endblock %}
