{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json" />
<link href="/assets/css/output.css" rel="stylesheet" />
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% endblock %} 

{% block content %}
<main class="bg-gray-900">
<div class="mx-auto max-w-7xl h-screen px-12">
<form action="/app/new" method="post">
  <div class="border-b border-white/10 pb-12">
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <label for="name" class="block text-sm font-medium leading-6 text-white">Name</label>
        <div class="mt-2">
          <div class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
            <input type="text" 
                   name="name"
                   id="name"
                   autocomplete="off"
                   class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-white">Cancel</button>
    <button type="submit" class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
  </div>
</form>

</div>
</main>
{% endblock %}
