{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json" />
<link href="/assets/css/output.css" rel="stylesheet" />
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script> -->
<!-- <link rel="stylesheet" -->
<!--   href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"> -->
<!-- <script> -->
<!--   window.onload = function () { -->
<!--     const autoCompleteJS = new autoComplete({ -->
<!--       placeHolder: "Search through your tags ...", -->
<!--       data: { -->
<!--         src: ["acme", "30h"], -->
<!--         cache: true, -->
<!--       }, -->
<!--       resultItem: { -->
<!--         highlight: true, -->
<!--       }, -->
<!--       events: { -->
<!--         input: { -->
<!--           selection: (event) => { -->
<!--             const selection = event.detail.selection.value; -->
<!--             autoCompleteJS.input.value = selection; -->
<!--           } -->
<!--         } -->
<!--       } -->
<!--     }); -->
<!--   } -->
<!-- </script> -->

<script type="text/hyperscript">
  behavior Removable(removeButton)
    init
      if no removeButton set the removeButton to me
    end

    on click from removeButton
      remove me
      log removeButton with console.debug
    end
  end
</script>
<script type="text/hyperscript">
  def createPill(tag_name)
    set pill to `
      <span id="pill-${tag_name}" _="install Removable(removeButton: #del-btn-${tag_name})" class="inline-flex select-none items-center gap-x-0.5 rounded-md bg-purple-400/10 px-2 py-1 text-md font-medium text-purple-400 ring-1 ring-inset ring-purple-700/10">
        ${tag_name}
        <button type="button" id="del-btn-${tag_name}" class="group relative -mr-1 h-3.5 w-3.5 rounded-sm hover:bg-purple-600/20">
          <span class="sr-only">Remove</span>
          <svg viewBox="0 0 14 14" class="h-3.5 w-3.5 stroke-violet-600/50 group-hover:stroke-violet-600/75">
            <path d="M4 4l6 6m0-6l-6 6" />
          </svg>
          <span class="absolute -inset-1"></span>
        </button>
      </span>
    `
    put pill at the end of #pill-wrapper
  end
</script>
{% endblock %}

{% block content %}
<main>
  <div class="mx-auto max-w-lg h-screen px-12 grid items-center">
    <form action="/app/start" method="post">
      <div class="border-b border-white/10 pb-12">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8">
          <div class="">
            <label for="name" class="block text-sm font-medium leading-6 text-white">Name</label>
            <div class="mt-2">
              <div
                class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <input type="text" name="name" id="name" autocomplete="off"
                  class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm sm:leading-6">
              </div>
            </div>
          </div>
          <div class="">
            <label for="tags" class="block text-sm font-medium leading-6 text-white">Tags</label>
            <div class="relative mt-2">
              <div
                class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <div id="pill-wrapper" class="flex items-center space-x-1"></div>
                <input _="
                          on focus 
                            remove .hidden from the next <ul[role=listbox]/>
                         " id="tags" type="text"
                  class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm sm:leading-6"
                  role="combobox" aria-controls="options" aria-expanded="false">
                <button _="
                           on click
                            toggle .hidden on the next <ul[role=listbox]/>
                          " type="button"
                  class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
              <ul
                class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-gray-800 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm hidden"
                id="options" role="listbox">
                {% for tag in available_tags %}
                <li _="
                       on click createPill('{{tag.name}}')
                       " class="relative cursor-default select-none py-2 pl-3 pr-9 text-white hover:bg-white/10"
                  id="option-{{loop.index0}}" role="option" tabindex="-1">
                  <!-- Selected: "font-semibold" -->
                  <span class="block truncate">{{tag.name}}</span>
                  <!-- <span class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600"> -->
                  <!--   <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> -->
                  <!--     <path fill-rule="evenodd" -->
                  <!--       d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" -->
                  <!--       clip-rule="evenodd" /> -->
                  <!--   </svg> -->
                  <!-- </span> -->
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" onclick="history.back()"
          class="text-sm font-semibold leading-6 text-white">Cancel</button>
        <button type="submit"
          class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
      </div>
    </form>

  </div>
</main>
{% endblock %}
