{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json" />
<script src="/assets/js/htmx.min.js"></script>
<script src="/assets/js/_hyperscript.min.js"></script>
{% endblock %}

{% block content %}
<main>
  <div class="mx-auto max-w-lg h-screen px-12 grid items-center">
    <form action="/app/summaries" method="post">
      <div class="border-b border-white/10 pb-12">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8">

          <div class="">
            <label for="tags" class="block text-sm font-medium leading-6 text-white">Selection Tags</label>
            <div class="relative mt-2 grid grid-cols-1 gap-2">
              <div class="flex rounded-md">
                <div class="relative w-full focus-within:z-10">
                  <input _="
                              on keyup
                                if the event's key is 'Escape'
                                  set my value to ''
                                  trigger keyup
                                else
                                  show <option/> in #tags when its textContent contains my value
                            " type="text" name="tags-search" id="tags-search"
                    class="block w-full rounded-none bg-white/5 rounded-l-md border-0 py-1.5 text-white ring-1 ring-inset ring-white/10 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                    placeholder="Search or add tags">
                </div>
                <button _="
                          on click toggle @disabled until htmx:afterOnLoad
                            then set value of #tags-search to ''
                        " hx-post="/app/tags" hx-include="[id='tags-search']" hx-target="#tags" type="button"
                  class="relative bg-indigo-500 -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-white/10 hover:bg-indigo-400">
                  Add
                </button>
              </div>
              <select class="rounded-md w-full bg-white/5 ring-1 ring-inset ring-white/10 text-white border-0"
                name="selection_tags" id="selection_tags" autocomplete="off" multiple>
                {% include "../activities/tag_option_list.html" %}
              </select>
            </div>
          </div>
          <div class="">
            <label for="tags" class="block text-sm font-medium leading-6 text-white">Group Tags</label>
            <div class="relative mt-2 grid grid-cols-1 gap-2">
              <div class="flex rounded-md">
                <div class="relative w-full focus-within:z-10">
                  <input _="
                              on keyup
                                if the event's key is 'Escape'
                                  set my value to ''
                                  trigger keyup
                                else
                                  show <option/> in #tags when its textContent contains my value
                            " type="text" name="tags-search" id="tags-search"
                    class="block w-full rounded-none bg-white/5 rounded-l-md border-0 py-1.5 text-white ring-1 ring-inset ring-white/10 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                    placeholder="Search or add tags">
                </div>
                <button _="
                          on click toggle @disabled until htmx:afterOnLoad
                            then set value of #tags-search to ''
                        " hx-post="/app/tags" hx-include="[id='tags-search']" hx-target="#tags" type="button"
                  class="relative bg-indigo-500 -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-white/10 hover:bg-indigo-400">
                  Add
                </button>
              </div>
              <select class="rounded-md w-full bg-white/5 ring-1 ring-inset ring-white/10 text-white border-0"
                name="group_tags" id="group_tags" autocomplete="off" multiple>
                {% include "../activities/tag_option_list.html" %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" onclick="history.back()"
          class="text-sm font-semibold leading-6 text-white">Cancel</button>
        <button type="submit"
          class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
      </div>
    </form>

  </div>
</main>
{% endblock %}
