{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link href="/assets/css/output.css" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
{% endblock %}

{% block content %}
<main class="bg-gray-900">
<div class="mx-auto max-w-7xl sm:px-12">
  <div class="h-dvh mx-auto max-w-3xl">
    <ul role="list" class="divide-y divide-gray-200">
      {% for activity in activities %}
        <li class="px-4 py-4 sm:px-0 text-gray-300">
          {{ activity.name }} - {{ activity.tags|join(", ") }}
        </li>
      {% endfor %}
    </ul>

    <div class="fixed bottom-0 left-0 right-0 flex h-16 items-center justify-center">
      <div>
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
      </div>
      <div class="text-gray-300 text-3xl">{{ date }}</div>
      <div>
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
