{% extends "base.html" %}

{% block title %}Nine to Five{% endblock %}

{% block head %}
<link rel="manifest" href="/assets/manifest.json">
<link href="/assets/css/output.css" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12/dist/_hyperscript.min.js"></script>
<script src="https://unpkg.com/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/@floating-ui/core@1.6.0/dist/floating-ui.core.umd.min.js"></script>
<script src="https://unpkg.com/@floating-ui/dom@1.6.3/dist/floating-ui.dom.umd.min.js"></script>
<script type="text/javascript">
  function format(timestamp) {
    const start = new Date(parseInt(timestamp));
    let durr = Date.now() - start;
    const isNegative = durr < 0;
    durr = Math.abs(durr);
    durr = Math.floor(durr / 1000);

    const min = Math.floor((durr / 60) % 60);

    let hour = (durr / 60) / 60;
    if (hour < 0 && hour > -1) {
      hour = Math.abs(0)
    }

    if (hour > 0) {
      hour = Math.floor(hour);
    } else {
      hour = Math.ceil(hour)
    }

    let duration = '';
    if (Math.abs(hour) > 0) {
      duration = `${hour}h ${min}m`;
    } else {
      duration = `${min}m`;
    }

    if (isNegative) {
      return `-${duration}`;
    } else {
      return duration;
    }

  }
</script>
{% endblock %}

{% block content %}
<main>
  <div class="mx-auto max-w-7xl h-screen sm:px-12">
    <div class="overflow-y-auto mx-auto max-w-lg min-h-full">
      {% if activities.len() > 0 || running.is_some() %}
      <ul role="list" class="divide-y divide-white/5 mb-14 ">
        {% for activity in activities %}
        <li class="py-4 px-10 lg:px-0">
          <div class="flex items-center gap-x-3">
            <h3 class="flex-auto text-lg font-semibold leading-6 text-white">{{ activity.name }}</h3>
            <time datetime="{{ activity.duration_iso }}" class="flex-none text-sm text-gray-500">
              {{ activity.duration }}
            </time>

            <div class="relative inline-block text-left">
              <button type="button"
                class="flex items-center rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                aria-expanded="true" aria-haspopup="true" _="on click toggle .hidden on the next <div[role=menu]/>">
                <span class="sr-only">Open options</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                </svg>
              </button>

              <div
                class="absolute right-0 z-10 mt-2 w-28 origin-bottom-right rounded-md bg-gray-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-2" role="none">
                  <button hx-post="/app/activity/{{ activity.id }}/continue?date={{ curr }}"
                    id="cont-btn-{{ activity.id }}" hx-select="main" hx-target="main" hx-swap="outerHTML"
                    hx-trigger="confirmed" onClick="Swal.fire({
                       title: 'Confirm', 
                       text: 'Do you really want to continue?', 
                       icon: 'warning', 
                       showCancelButton: true, 
                       focusCancel: true,
                     })
                     .then(function(result){
                       if(result.isConfirmed) {
                         htmx.trigger('#cont-btn-{{ activity.id }}', 'confirmed' );
                       }
                     })" class="text-white w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem" tabindex="-1" id="menu-item-2">
                    {% if running.is_some() %}
                    Switch
                    {% else %}
                    Continue
                    {% endif %}
                  </button>
                  <a href="/app/activity/{{ activity.id }}?date={{ curr }}"
                    class="text-white block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900" role="menuitem"
                    tabindex="-1" id="menu-item-1">Edit</a>
                  <button hx-delete="/app/activity/{{ activity.id }}?date={{ curr }}" id="del-btn-{{ activity.id }}"
                    hx-select="main" hx-target="main" hx-swap="outerHTML" hx-trigger="confirmed" onClick="Swal.fire({
                       title: 'Confirm', 
                       text: 'Do you really want to delete?', 
                       icon: 'warning', 
                       showCancelButton: true, 
                       focusCancel: true,
                     })
                     .then(function(result){
                       if(result.isConfirmed) {
                         htmx.trigger('#del-btn-{{ activity.id }}', 'confirmed' );
                       }
                     })" class="text-white w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem" tabindex="-1" id="menu-item-2">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 truncate text-sm text-gray-500">
            {% for tag in activity.tags %}
            <span
              class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">
              {{ tag.name }}
            </span>
            {% endfor %}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="flex items-center justify-center h-screen">
        <div class="text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>
          <h3 class="mt-2 text-sm font-semibold text-gray-100">No activities</h3>
          <p class="mt-1 text-sm text-gray-500">Get started by creating a new activity.</p>
          <div class="mt-6">
            <a href="/app/start" type="button"
              class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
              </svg>
              New Activity
            </a>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="fixed bottom-0 left-0 right-0 bg-gray-900">
        <div class="hidden mx-auto max-w-lg" id="menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
              aria-current="page">Activities</a>
            <a href="/app/metrics"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Metrics</a>
          </div>
        </div>
        {% match running %}
        {% when Some with (running) %}
        {% include "activities/running.html" %}
        {% when None %}
        <div class="flex items-center justify-center py-4 px-10 lg:px-0">
          <a href="/app/start"
            class="block rounded-full bg-indigo-600 p-1 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <svg class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
          </a>
        </div>
        {% endmatch %}
        <div class="flex h-12 mx-auto max-w-lg items-center justify-between px-2">
          <button _="
              on click
                toggle .hidden on #menu
                toggle .hidden on #menu-icon
                toggle .hidden on #close-icon
            " class="rounded-md px-2.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-white/20">
            <svg id="menu-icon" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor"
              class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg id="close-icon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          <div class="flex space-x-4 h-12 items-center">
            <a href="/app/{{ prev }}"
              class="rounded-md px-2.5 py-1 font-semibold text-white shadow-sm hover:bg-white/20">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </a>
            <a href="/app" class="text-gray-300 text-md font-semibold min-w-36 text-center">{{ date }}</a>
            <a href="/app/{{ next }}"
              class="rounded-md px-2.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-white/20">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </a>
          </div>
          <div class="px-2.5"><span class="w-6 h-6 block"></span></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
